Repository hmcts/sscs-hearings-api, pull requests merged in 2022-11, with the labels that each got.

#417 tomcat to 9.0.68
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-417

#419 updates jackson databind to latest 2.14.0-rc3
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-419

#414 SSCS-10954 : Made the queue connection string configurable
  src/main/java/uk/gov/hmcts/reform/sscs/config/jms/TribunalsHearingsJmsConfig.java
  src/main/resources/application.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-414

#367 SSCS-10853 Hearing Postponed Event Change
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsEventMappers.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/service/HearingsServiceHelper.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/CcdCaseService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/HearingsService.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsEventMappersTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/service/HearingsServiceHelperTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-367
