Repository hmcts/sscs-hearings-api, pull requests merged in 2022-07, with the labels that each got.

#190 SSCS-10651 Convert Azure Queue to JMS
  build.gradle
  charts/sscs-hearings-api/Chart.yaml
  charts/sscs-hearings-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/sscs/config/TribunalsHearingsEventQueueListenerConfig.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/jms/TribunalsHearingsJmsConfig.java
  src/main/java/uk/gov/hmcts/reform/sscs/converter/JsonMessageConverter.java
  src/main/java/uk/gov/hmcts/reform/sscs/exception/TribunalsEventProcessingException.java
  src/main/java/uk/gov/hmcts/reform/sscs/jms/listener/TribunalsHearingsEventQueueListener.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/jms/listener/TribunalsHearingsEventTopicListenerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-190

#266 Fix dependency issues
  config/owasp/suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-266

#268 SSCS-10651 Fix Azure Error
  charts/sscs-hearings-api/Chart.yaml
  charts/sscs-hearings-api/values.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-268

#265 Revert "SSCS-10651 Convert Azure Queue to JMS"
  build.gradle
  charts/sscs-hearings-api/Chart.yaml
  charts/sscs-hearings-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/sscs/config/TribunalsHearingsEventQueueListenerConfig.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/jms/TribunalsHearingsJmsConfig.java
  src/main/java/uk/gov/hmcts/reform/sscs/converter/JsonMessageConverter.java
  src/main/java/uk/gov/hmcts/reform/sscs/exception/TribunalsEventProcessingException.java
  src/main/java/uk/gov/hmcts/reform/sscs/jms/listener/TribunalsHearingsEventQueueListener.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/jms/listener/TribunalsHearingsEventTopicListenerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-265

#262 SSCS-10708 Commons Bump
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-262

#270 Revert "Revert "SSCS-10651 Convert Azure Queue to JMS (#190)" (#265)"
  build.gradle
  charts/sscs-hearings-api/Chart.yaml
  charts/sscs-hearings-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/sscs/config/TribunalsHearingsEventQueueListenerConfig.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/jms/TribunalsHearingsJmsConfig.java
  src/main/java/uk/gov/hmcts/reform/sscs/converter/JsonMessageConverter.java
  src/main/java/uk/gov/hmcts/reform/sscs/exception/TribunalsEventProcessingException.java
  src/main/java/uk/gov/hmcts/reform/sscs/jms/listener/TribunalsHearingsEventQueueListener.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/jms/listener/TribunalsHearingsEventTopicListenerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-270

#263 SSCS-10710 cancellationReasonCode change
  src/contractTest/java/uk/gov/hmcts/reform/sscs/ContractTestDataProvider.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsRequestMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/HearingWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/single/hearing/HearingCancelRequestPayload.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/HearingsService.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsRequestMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/HearingsServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-263

#272 SSCS-10666 Paper cases send incorrect hearing dates
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsAutoListMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingValuesMapping.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsAutoListMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/ServiceHearingsServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-272

#277 SSCS-10661 Add caseInterpreterRequiredFlag to response model, update …
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingValuesMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/service/hearingvalues/ServiceHearingValues.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingValuesMappingTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-277

#280 SSCS-10742 Remove branch syncs
  Jenkinsfile_CNP
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-280

#281 Cardiff-LA-commons-bump
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-281

#288 SSCS-10746-cve-suppression
  config/owasp/suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-288

#264 SSCS-10713 - Update to listing status
  config/owasp/suppressions.xml
  src/contractTest/java/uk/gov/hmcts/reform/sscs/consumer/HearingGetConsumerTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/hmc/reference/ListingStatus.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/hmc/topic/ProcessHmcMessageService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/service/hmc/topic/ProcessHmcMessageServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-264

#267 SSCS-10087 Override Fields
  build.gradle
  src/contractTest/java/uk/gov/hmcts/reform/sscs/ContractTestDataProvider.java
  src/contractTest/java/uk/gov/hmcts/reform/sscs/consumer/HearingPutConsumerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/controllers/ServiceHearingsControllerTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsAutoListMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsChannelMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsEventMappers.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsNumberAttendeesMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsPanelMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsPartiesMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/OverridesMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/PanelMemberSpecialismsMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingPartiesMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingValuesMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/hmc/reference/HmcStatus.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/single/hearing/HearingDetails.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/single/hearing/IndividualDetails.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/HearingsService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/HmcHearingApi.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsAutoListMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsChannelMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsPanelMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsPartiesMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/OverridesMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingValuesMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/HearingsServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-267

#290 SSCS-10747 Relationship Type Update
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsPartiesMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/hmc/reference/EntityRoleCode.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/hmc/reference/PartyRelationshipType.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsPartiesMappingTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-290

#291 SSCS-10676 Duplication of Hearings After HMC Request Fix
  src/main/java/uk/gov/hmcts/reform/sscs/HearingsApiApplication.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/service/HearingsServiceHelper.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/multi/hearing/CaseHearing.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/multi/hearing/HearingsGetResponse.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/HearingsService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/HmcHearingsApi.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/HmcHearingsApiService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/helper/service/HearingsServiceHelperTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/HearingsServiceRetryTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/HearingsServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-291

#292 SSCS-10748 Add UTC to Uk localdateTime converter
  src/main/java/uk/gov/hmcts/reform/sscs/service/hmc/topic/HearingUpdateService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/hmc/topic/HearingUpdateServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-292

#297 SSCS-10784 Panel Type & Panel Specialism schema change
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsPanelMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingValuesMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/hmc/reference/BenefitRoleRelationType.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsMappingBase.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsPanelMappingTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-297

#293 SSCS-10192 - Ability to allow for the scenario of multiple hearing lo…
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/OverridesMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/HearingsService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/holder/ReferenceDataServiceHolder.java
  src/main/resources/multipleHearingLocations.json
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMappingTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-293
