Repository hmcts/sscs-hearings-api, pull requests merged in 2022-06, with the labels that each got.

#179 build: updated sscs-common version to include 10138 changes
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-179

#175 bug/SSCS-10614: made change as per suggestion on the ticket.
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/controllers/ServiceHearingsControllerTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/service/hearingvalues/ServiceHearingValues.java
  src/test/resources/serviceHearingValues.json
  src/test/resources/serviceHearingValuesForControllerTest.json
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-175

#181 Upgrade SpringFramework, Fix Vunerability Issues and Bugged Intergration Test
  build.gradle
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/controllers/ServiceHearingsControllerTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/SecurityConfiguration.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingValuesMappingTest.java
  src/test/resources/serviceHearingValuesForControllerTest.json
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-181

#183 Feat/sscs 10335
  build.gradle
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/controllers/ServiceHearingsControllerTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsRequestMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/HearingWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/HearingsService.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsRequestMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingValuesMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/HearingsServiceTest.java
  src/test/resources/serviceHearingValuesForControllerTest.json
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-183

#148 SSCS-10445 Language Refactor
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/controllers/ServiceHearingsControllerTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/controllers/ServiceHearingsController.java
  src/main/java/uk/gov/hmcts/reform/sscs/exception/InvalidMappingException.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsCaseMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsPartiesMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingPartiesMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingValuesMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/service/hearingvalues/PartyDetails.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/service/hearingvalues/UnavailabilityDayOfWeek.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/service/hearingvalues/UnavailabilityRange.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/HearingsService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/ReferenceData.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/ReferenceDataServiceHolder.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/ServiceHearingsService.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsCaseMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsMappingBase.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsPartiesMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingValuesMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/model/service/ServiceHearingValuesTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/HearingsServiceTest.java
  src/test/resources/serviceHearingValuesForControllerTest.json
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-148

#162 SSCS-10135 Autolist Flag
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsAutoListMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/PartyFlagsMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingValuesMapping.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsAutoListMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingValuesMappingTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-162

#184 Feat/sscs 10335
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsRequestMapping.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsRequestMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/HearingsServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-184

#185 Fix/SSCS-10629: Joint party mappings
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsPartiesMapping.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsPartiesMappingTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-185

#167 SSCS-10579 Initial draft.
  build.gradle
  charts/sscs-hearings-api/Chart.yaml
  charts/sscs-hearings-api/values.yaml
  infrastructure/service-bus.tf
  src/main/java/uk/gov/hmcts/reform/sscs/HearingsApiApplication.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/HmcHearingsEventTopicListener.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/jms/HearingsJmsConfig.java
  src/main/java/uk/gov/hmcts/reform/sscs/exception/HmcEventProcessingException.java
  src/main/java/uk/gov/hmcts/reform/sscs/jms/listener/HmcHearingsEventTopicListener.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/hmcmessage/HearingUpdate.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/hmcmessage/HmcMessage.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/hmc/topic/ProcessHmcMessageService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/config/HmcHearingsEventTopicListenerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingValuesMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/jms/listener/HmcHearingsEventTopicListenerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-167

#192 SSCS-10579 Add key vault mount.
  charts/sscs-hearings-api/Chart.yaml
  charts/sscs-hearings-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/sscs/config/jms/HearingsJmsConfig.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-192

#140 Sscs 10138 capturing hearing channel preferences in the auto journey
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/controllers/ServiceHearingsControllerTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsPartiesMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingPartiesMapping.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsPartiesMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/HearingsServiceTest.java
  src/test/resources/serviceHearingValuesForControllerTest.json
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-140

#194 SSCS-10579 Fix environment variable
  charts/sscs-hearings-api/Chart.yaml
  charts/sscs-hearings-api/values.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-194

#193 Feat/sscs 10335
  src/main/java/uk/gov/hmcts/reform/sscs/service/HearingsService.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-193

#180 SSCS-10617 Initial fixes.
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/controllers/ServiceHearingsControllerTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingPartiesMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingValuesMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/single/hearing/HearingWindow.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingValuesMappingTest.java
  src/test/resources/serviceHearingValues.json
  src/test/resources/serviceHearingValuesForControllerTest.json
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-180

#197 Sscs 10138 capturing hearing channel preferences in the auto journey
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMapping.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingValuesMappingTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-197

#199 SSCS-10286 Jackson Feature Fix
  src/main/java/uk/gov/hmcts/reform/sscs/config/FeignClientConfig.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/hmc/message/HmcMessage.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/single/hearing/HearingDetails.java
  src/main/resources/application.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-199

#195 SSCS-10637 Remove unneeded code from Sscs 10138
  README.md
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/controllers/ServiceHearingsControllerTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsAutoListMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsCaseMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsPartiesMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingPartiesMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingValuesMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/HearingWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/HearingsService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/holder/ReferenceDataServiceHolder.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsAutoListMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsPartiesMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsRequestMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingValuesMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/jms/listener/HmcHearingsEventTopicListenerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/HearingsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/ReferenceDataServiceHolderTest.java
  src/test/resources/serviceHearingValuesForControllerTest.json
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-195

#201 Revert "SSCS-10637 Remove unneeded code from Sscs 10138 (#195)"
  README.md
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/controllers/ServiceHearingsControllerTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsAutoListMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsCaseMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsPartiesMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingPartiesMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingValuesMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/HearingWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/HearingsService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/holder/ReferenceDataServiceHolder.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsAutoListMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsPartiesMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsRequestMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingValuesMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/jms/listener/HmcHearingsEventTopicListenerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/HearingsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/ReferenceDataServiceHolderTest.java
  src/test/resources/serviceHearingValuesForControllerTest.json
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-201

#200 SSCS-10286 Jackson Ignore Property Case and Re-add Title
  src/main/java/uk/gov/hmcts/reform/sscs/model/single/hearing/IndividualDetails.java
  src/main/resources/application.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-200

#203 SSCS-10642 HearingPriority Reference Data Update
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMapping.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingValuesMappingTest.java
  src/test/resources/serviceHearingValuesForControllerTest.json
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-203

#207 feat: change HMC api interface for cancel hearing operation
  src/contractTest/java/uk/gov/hmcts/reform/sscs/consumer/HearingDeleteConsumerTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/HmcHearingApi.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/HmcHearingApiService.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-207

#206 feat/SSCS-10559: use overrideDuration field for Hearings
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMapping.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMappingTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-206

#211 SSCS-10378 Pushing changes to new PR
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsPartiesMapping.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsPartiesMappingTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-211

#210 Sscs 10286 event state changes
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingEventMappers.java
  src/main/java/uk/gov/hmcts/reform/sscs/jms/listener/HmcHearingsEventTopicListener.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/hmc/reference/HmcStatus.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/hmc/topic/CaseStateUpdateService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/hmc/topic/ProcessHmcMessageService.java
  src/test/java/uk/gov/hmcts/reform/sscs/jms/listener/HmcHearingsEventTopicListenerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/hmc/topic/CaseStateServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/hmc/topic/ProcessHmcMessageServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-210

#198 SSCS-10636 Make SHV changes.
  build.gradle
  config/owasp/suppressions.xml
  src/contractTest/java/uk/gov/hmcts/reform/sscs/ContractTestDataProvider.java
  src/contractTest/java/uk/gov/hmcts/reform/sscs/utility/BasePactTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/controllers/ServiceHearingsControllerTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/FeignClientConfig.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsCaseMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingValuesMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/HmcFailureMessage.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/service/hearingvalues/CaseFlags.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/service/hearingvalues/HearingWindow.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/service/hearingvalues/Judiciary.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/service/hearingvalues/PanelComposition.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/service/hearingvalues/PanelPreference.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/service/hearingvalues/PanelRequirements.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/service/hearingvalues/PartyDetails.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/service/hearingvalues/ScreenNavigation.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/service/hearingvalues/ServiceHearingValues.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/service/hearingvalues/Vocabulary.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/single/hearing/HearingDetails.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/AppInsightsService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/exceptions/FeignClientErrorDecoder.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsCaseMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingValuesMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/exceptions/FeignClientErrorDecoderTest.java
  src/test/resources/serviceHearingValues.json
  src/test/resources/serviceHearingValuesForControllerTest.json
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-198

#212 feat/SSCS-10559: use overrideDuration field for Hearings
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMapping.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMappingTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-212

#214 SSCS-10642 Update hearing priority type.
  build.gradle
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingValuesMappingTest.java
  src/test/resources/serviceHearingValuesForControllerTest.json
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-214

#218 SSCS-10643 Fix tests
  build.gradle
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingValuesMappingTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-218

#219 SSCS-10655 Ensure unavailability type is set in party mapping.
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsPartiesMapping.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsPartiesMappingTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-219

#220 SSCS-10620 Demo Commons Bump
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-220

#223 SSCS-10286 Improve hmc topic logging.
  src/main/java/uk/gov/hmcts/reform/sscs/jms/listener/HmcHearingsEventTopicListener.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-223

#226 SSCS-10286 Commons Bump
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-226

#224 SSCS-10178 Filter By Venue
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/service/hmc/topic/HearingUpdateService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/hmc/topic/ProcessHmcMessageService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/hmc/topic/HearingUpdateServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-224

#221 SSCS-10242 Hearing Date Filter
  src/main/java/uk/gov/hmcts/reform/sscs/service/hmc/topic/HearingUpdateService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/hmc/topic/HearingUpdateServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-221

#230 SSCS-10635 ServiceHearingValues Case Updates
  src/main/java/uk/gov/hmcts/reform/sscs/controllers/ServiceHearingsController.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingValuesMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/ServiceHearingsService.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingValuesMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/ServiceHearingsServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-230

#232 SSCS-10242 Use HMC status over ListAssistCaseStatus
  src/main/java/uk/gov/hmcts/reform/sscs/service/hmc/topic/HearingUpdateService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/hmc/topic/ProcessHmcMessageService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/hmc/topic/HearingUpdateServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-232

#231 SSCS-10559 Fix override duration.
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMapping.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMappingTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-231

#235 Sscs 10242 revert work basket changes master
  src/main/java/uk/gov/hmcts/reform/sscs/service/hmc/topic/HearingUpdateService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/hmc/topic/ProcessHmcMessageService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/hmc/topic/HearingUpdateServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-235

#239 SSCS-10643 - Reference Data Update
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-239

#233 Sscs 10644 update service linked cases
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/controllers/ServiceHearingsControllerTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/controllers/ServiceHearingsController.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsCaseMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/LinkedCasesMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/service/linkedcases/LinkedCase.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/ServiceHearingsService.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/LinkedCasesMappingTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-233

#241 SSCS-10242 Hearing Date Filter
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/service/hmc/topic/HearingUpdateService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/hmc/topic/ProcessHmcMessageService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/hmc/topic/HearingUpdateServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-241

#229 SSCS-10662 New Channel Type Element In HMC Call
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/controllers/ServiceHearingsControllerTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/exception/HearingChannelNotFoundException.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingChannelMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsPartiesMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingPartiesMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/single/hearing/HearingDetails.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/HearingsService.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsPartiesMappingTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-229

#246 SSCS-10644-Update-Linked-Cases: remove LinkedCases from response
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/controllers/ServiceHearingsControllerTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/controllers/ServiceHearingsController.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/LinkedCasesMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/service/linkedcases/ServiceLinkedCases.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/ServiceHearingsService.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/LinkedCasesMappingTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-246

#244 SSCS-10667 Moving Reasonable Adjustments from facilities required
  src/contractTest/java/uk/gov/hmcts/reform/sscs/ContractTestDataProvider.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsAdjustmentMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsPartiesMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingPartiesMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingValuesMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/hmc/reference/Adjustment.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/single/hearing/IndividualDetails.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsAdjustmentMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsPartiesMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingValuesMappingTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-244

#250 SSCS-10644-Linked-Cases-Update : fix only one case ref showing
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/controllers/ServiceHearingsControllerTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsCaseMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/LinkedCasesMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/ServiceHearingsService.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/LinkedCasesMappingTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-250

#252 SSCS-10701 Fix HearingChannel Returns
  src/main/java/uk/gov/hmcts/reform/sscs/controllers/ServiceHearingsController.java
  src/main/java/uk/gov/hmcts/reform/sscs/exception/HearingChannelNotFoundException.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingChannelMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsAutoListMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingValuesMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/HearingsService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/ServiceHearingsService.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingChannelMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsAutoListMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsPartiesMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingValuesMappingTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-252

#236 SSCS-10671-Amend-Reason-Code : change amend reason code to array list
  src/contractTest/java/uk/gov/hmcts/reform/sscs/ContractTestDataProvider.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/single/hearing/HearingDetails.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-236

#253 SSCS-10659 Temporarily Remove DWP Party in SHV
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingPartiesMapping.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-253

#251 SSCS-10680 Number of Physical Attendees
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsNumberAttendeesMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingValuesMapping.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsNumberAttendeesMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingValuesMappingTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-251

#254 Sscs 10693 panel specialism format incorrect
  build.gradle
  charts/sscs-hearings-api/Chart.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/PanelMemberSpecialismsMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingValuesMapping.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMappingTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-254

#242 SSCS-10178 Filter By Venue
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/sscs/service/hmc/topic/HearingUpdateService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/hmc/topic/HearingUpdateServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-242
