Repository hmcts/sscs-hearings-api, pull requests merged in 2022-12, with the labels that each got.

#426 suppresses CVE-2021-37533 and CVE-2016-3094
  config/owasp/suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-426

#421 Sscs 11092 updates hearings to new adjournment common
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsCaseMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDurationMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/PartyFlagsMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/holder/ReferenceDataServiceHolder.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsCaseMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDurationMappingAdjournmentTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDurationMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsMappingBase.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/PartyFlagsMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingValuesMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/ServiceHearingsServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-421

#355 Hearing venue set in Adjournment notice is included in new hearing request
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsChannelMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsLocationMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/OverridesMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingValuesMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/hmc/reference/NextHearingVenueType.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/holder/ReferenceDataServiceHolder.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDurationMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/OverridesMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingValuesMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/HearingsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/ServiceHearingsServiceTest.java
Labels: ns:sscs, prd:sscs, add-or-update, rel:sscs-hearings-api-pr-355
