Repository hmcts/sscs-hearings-api, pull requests merged in 2022-03, with the labels that each got.

#28 Sscs 10229 address nightly build issues
  build.gradle
  security.sh
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-28

#29 Sscs 10229 address nightly build issues
  Jenkinsfile_nightly
  security.sh
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-29

#31 SSCS-10224 getCaseDetails Method
  src/main/java/uk/gov/hmcts/reform/sscs/controllers/ServiceHearingsController.java
  src/main/java/uk/gov/hmcts/reform/sscs/exception/CaseException.java
  src/main/java/uk/gov/hmcts/reform/sscs/exception/GetCaseException.java
  src/main/java/uk/gov/hmcts/reform/sscs/exception/UpdateCaseException.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/CcdCaseService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/AuthorisationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/CcdCaseServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-31

#33 SSCS-10218 staff reference interface
  Jenkinsfile_CNP
  charts/sscs-hearings-api/Chart.yaml
  charts/sscs-hearings-api/values.preview.template.yaml
  charts/sscs-hearings-api/values.yaml
  src/main/resources/application.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-33

#35 SSCS-10219-environment variables for the common reference data api ca…
  Jenkinsfile_CNP
  charts/sscs-hearings-api/Chart.yaml
  charts/sscs-hearings-api/values.preview.template.yaml
  charts/sscs-hearings-api/values.yaml
  src/main/resources/application.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-35

#32 SSCS-10225 Case Details to HMC Mapping
  build.gradle
  config/checkstyle/checkstyle.xml
  src/main/java/uk/gov/hmcts/reform/sscs/exception/UnhandleableHearingState.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/HearingsMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/HearingState.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/HearingWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/HearingsService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/helper/HearingsMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/HearingsServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-32

#41 SSCS 10268 generate objects from schema
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/controllers/ServiceHearingsControllerTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/controllers/ServiceHearingsController.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/CaseFlags.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/HearingLocation.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/Judiciary.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/ScreenNavigation.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/ServiceHearingValues.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/Vocabulary.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/servicehearingvalues/CaseFlags.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/servicehearingvalues/HearingLocation.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/servicehearingvalues/HearingWindow.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/servicehearingvalues/HearingWindowDateRange.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/servicehearingvalues/Judiciary.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/servicehearingvalues/MemberType.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/servicehearingvalues/Navigation.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/servicehearingvalues/PanelComposition.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/servicehearingvalues/PanelPreference.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/servicehearingvalues/PanelRequirements.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/servicehearingvalues/PartyDetails.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/servicehearingvalues/PartyFlags.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/servicehearingvalues/ScreenNavigation.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/servicehearingvalues/ServiceHearingValues.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/servicehearingvalues/UnavailabilityDayOfWeek.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/servicehearingvalues/UnavailabilityRange.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/servicehearingvalues/Vocabulary.java
  src/test/java/uk/gov/hmcts/reform/sscs/ResourceLoader.java
  src/test/java/uk/gov/hmcts/reform/sscs/model/servicehearingvalues/ServiceHearingValuesTest.java
  src/test/resources/serviceHearingValues.json
  src/test/resources/serviceHearingValuesInvalid.json
  src/test/resources/serviceHearingValuesSchema.json
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-41

#47 SSCS-10277-Adding HMC delete endpoint
  src/contractTest/java/uk/gov/hmcts/reform/sscs/ContractTestDataProvider.java
  src/contractTest/java/uk/gov/hmcts/reform/sscs/consumer/HearingDeleteConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/sscs/consumer/HearingPostConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/sscs/utility/BasePactTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/single/hearing/HearingDeleteRequestPayload.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/HmcHearingApi.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-47

#55 SSCS-10225 Back out RC commons version. Keep skeleton of hearings ser…
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/helper/HearingsMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/HearingsService.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/HearingsMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/HearingsServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-55

#46 SSCS-10057-Implement-Hearing-GET-Endpoint-and-Contract-Tests-master-rebased-20220321
  src/contractTest/java/uk/gov/hmcts/reform/sscs/ContractTestDataProvider.java
  src/contractTest/java/uk/gov/hmcts/reform/sscs/consumer/GetHearingPactConsumerTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/single/hearing/Attendees.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/single/hearing/HearingDaySchedule.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/single/hearing/HearingGetResponse.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/single/hearing/HearingResponse.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/single/hearing/ListingCaseStatus.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/single/hearing/ListingStatus.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/single/hearing/RequestDetails.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/HmcHearingApi.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-46

#67 Create CODEOWNERS
  CODEOWNERS
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-67

#52 SSCS-10239: Functionality to send events to azure
  README.md
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/sscs/model/HmcFailureMessage.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/Message.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/AppInsightsService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/AppInsightsServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-52
