Repository hmcts/sscs-hearings-api, pull requests merged in 2022-04, with the labels that each got.

#76 Update build.gradle
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-76

#65 SSCS-10227 party flag mapping
  src/main/java/uk/gov/hmcts/reform/sscs/hearing/mapping/PartyFlagsMap.java
  src/main/java/uk/gov/hmcts/reform/sscs/hearing/mapping/PartyFlagsMapping.java
  src/test/java/uk/gov/hmcts/reform/sscs/hearing/mapping/PartyFlagsMappingTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-65

#91 SSCS-10220 Update to common RC version
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-91

#92 SSCS-10376 Fix builds
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-92

#51 SSCS-10278 listener implementation
  build.gradle
  charts/sscs-hearings-api/Chart.yaml
  charts/sscs-hearings-api/values.yaml
  infrastructure/service-bus.tf
  src/main/java/uk/gov/hmcts/reform/sscs/config/HmcHearingsEventTopicListener.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/hmcmessage/HearingListingStatus.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/hmcmessage/HearingUpdate.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/hmcmessage/HmcMessage.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/config/HmcHearingsEventTopicListenerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-51

#98 SSCS-10278 Change subscription name, fix interpolation.
  build.gradle
  charts/sscs-hearings-api/Chart.yaml
  charts/sscs-hearings-api/values.yaml
  infrastructure/service-bus.tf
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-98

#99 SSCS-10278 Update values.yaml with hmc connection secret.
  charts/sscs-hearings-api/Chart.yaml
  charts/sscs-hearings-api/values.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-99

#72 Sscs 10275 failed hmc call processing
  build.gradle
  src/contractTest/java/uk/gov/hmcts/reform/sscs/consumer/GetHearingPactConsumerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/exceptions/FeignClientErrorDecoderIntegrationTest.java
  src/integrationTest/resources/application-integration.yaml
  src/main/java/uk/gov/hmcts/reform/sscs/config/FeignClientConfig.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/exceptions/FeignClientErrorDecoder.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/service/exceptions/FeignClientErrorDecoderTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-72

#88 SSCS-10360 add three fields to HearingResponse.java and update a fiel…
  src/contractTest/java/uk/gov/hmcts/reform/sscs/ContractTestDataProvider.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/single/hearing/HearingResponse.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/single/hearing/RequestDetails.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-88

#87 SSCS-10359-Hearings-API-Adjust-HearingRequestPayload-to-match-HMC-Updates
  src/contractTest/java/uk/gov/hmcts/reform/sscs/ContractTestDataProvider.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/single/hearing/CaseDetails.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/single/hearing/HearingRequestPayload.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/single/hearing/IndividualDetails.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/single/hearing/PanelRequirements.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/single/hearing/PartyDetails.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/single/hearing/UnavailabilityRange.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-87

#100 SSCS_10323 Add method to send delete hearing request.
  config/checkstyle/checkstyle.xml
  src/main/java/uk/gov/hmcts/reform/sscs/helper/HearingsMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/single/hearing/HearingDeleteRequestPayload.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/HearingsService.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-100

#95 SSCS-10146 update sscs-common version
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-95

#96 SSCS-10387 Update Commons
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-96

#106 SSCS-10274 Store Hearing POST and GET Response to CCD
  build.gradle
  config/checkstyle/checkstyle.xml
  config/owasp/suppressions.xml
  src/contractTest/java/uk/gov/hmcts/reform/sscs/ContractTestDataProvider.java
  src/main/java/uk/gov/hmcts/reform/sscs/HearingsApiApplication.java
  src/main/java/uk/gov/hmcts/reform/sscs/exception/GetCaseException.java
  src/main/java/uk/gov/hmcts/reform/sscs/exception/UnhandleableHearingState.java
  src/main/java/uk/gov/hmcts/reform/sscs/exception/UnhandleableHearingStateException.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/HearingsMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsRequestMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/service/HearingsServiceHelper.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/HearingEvent.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/HearingWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/single/hearing/HearingResponse.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/single/hearing/RequestDetails.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/CcdCaseService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/HearingsService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsRequestMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/service/HearingsServiceHelperTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/CcdCaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/HearingsServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-106

#108 Remove title
  src/contractTest/java/uk/gov/hmcts/reform/sscs/ContractTestDataProvider.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/single/hearing/IndividualDetails.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-108
