Repository hmcts/sscs-hearings-api, pull requests merged in 2022-10, with the labels that each got.

#379 SSCS-10968 cve suppression
  config/owasp/suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-379

#380 SSCS-10985 CVE Fix Commons Bump
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMapping.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/OverridesMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/HearingsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/ServiceHearingsServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-380

#378 SSCS-10895 remove PO attending from override fields
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/OverridesMapping.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/OverridesMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/HearingsServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-378

#396 SSCS-11008 - Add content type and tags to secrets
  infrastructure/service-bus.tf
Labels: ns:sscs, prd:sscs, add-or-update, rel:sscs-hearings-api-pr-396

#358 SSCS-10924 Create new secret.
  charts/sscs-hearings-api/Chart.yaml
  charts/sscs-hearings-api/values.yaml
  infrastructure/service-bus.tf
Labels: ns:sscs, prd:sscs, destroy, rel:sscs-hearings-api-pr-358

#398 SSCS-10924 Enable secret
  charts/sscs-hearings-api/Chart.yaml
  charts/sscs-hearings-api/values.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-398

#399 SSCS-11063 Use Renovate Shared Preset
  .github/renovate.json
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-399
