Repository hmcts/sscs-hearings-api, pull requests merged in 2022-05, with the labels that each got.

#113 SSCS-10223 commons bump
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-113

#93 SSCS-10388 Update Commons
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-93

#112 SSCS-10262 Implement ServiceLinkedCases Endpoint for ExUI
  config/checkstyle/checkstyle.xml
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/controllers/ServiceHearingsControllerTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/controllers/ServiceHearingsController.java
  src/main/java/uk/gov/hmcts/reform/sscs/exception/AuthorisationException.java
  src/main/java/uk/gov/hmcts/reform/sscs/exception/GetCaseException.java
  src/main/java/uk/gov/hmcts/reform/sscs/exception/InvalidHeaderException.java
  src/main/java/uk/gov/hmcts/reform/sscs/exception/InvalidIdException.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/LinkedCasesMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/PartyFlagsMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/service/hearingvalues/CaseFlags.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/service/hearingvalues/HearingLocation.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/service/hearingvalues/HearingWindow.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/service/hearingvalues/HearingWindowDateRange.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/service/hearingvalues/Judiciary.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/service/hearingvalues/MemberType.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/service/hearingvalues/Navigation.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/service/hearingvalues/PanelComposition.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/service/hearingvalues/PanelPreference.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/service/hearingvalues/PanelRequirements.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/service/hearingvalues/PartyDetails.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/service/hearingvalues/PartyFlags.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/service/hearingvalues/PartyFlagsMap.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/service/hearingvalues/ScreenNavigation.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/service/hearingvalues/ServiceHearingValues.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/service/hearingvalues/UnavailabilityDayOfWeek.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/service/hearingvalues/UnavailabilityRange.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/service/hearingvalues/Vocabulary.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/service/linkedcases/LinkedCase.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/service/linkedcases/ServiceLinkedCases.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/CcdCaseService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/HearingsService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/LinkedCasesMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/PartyFlagsMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/model/service/ServiceHearingValuesTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/CcdCaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/HearingsServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-112

#117 Log Additions
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/HearingsService.java
  src/main/resources/application.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-117

#114 SSCS-10444 updating build.gradle
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-114

#119 SSCS-10220 Bump chart version, add resource group to secrets.
  charts/sscs-hearings-api/Chart.yaml
  charts/sscs-hearings-api/values.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-119

#120 SSCS-10220 Fix AppInsights key
  charts/sscs-hearings-api/Chart.yaml
  charts/sscs-hearings-api/values.yaml
  src/main/resources/application.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-120

#121 SSCS-10220 Add sscs secret mount path, aliases.
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  charts/sscs-hearings-api/Chart.yaml
  charts/sscs-hearings-api/values.yaml
  src/main/resources/application.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-121

#122 SSCS-10301 Add missing idam config.
  charts/sscs-hearings-api/Chart.yaml
  charts/sscs-hearings-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/sscs/config/TribunalsHearingsEventQueueListener.java
  src/main/resources/application.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-122

#128 SSCS-10321 Fixes
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/config/SwaggerPublisherTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/HearingsApiApplication.java
  src/main/java/uk/gov/hmcts/reform/sscs/exception/ClientAuthorisationException.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsCaseMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsPartiesMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/HearingWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/HearingsService.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsCaseMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsMappingBase.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-128

#132 Sscs 10301 hearings integration fixes
  Dockerfile
  build.gradle
  charts/sscs-hearings-api/Chart.yaml
  charts/sscs-hearings-api/values.yaml
  lib/applicationinsights.json
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/controllers/ServiceHearingsControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/exceptions/FeignClientErrorDecoderIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/TribunalsHearingsEventQueueListener.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/TribunalsHearingsEventQueueListenerConfig.java
  src/main/java/uk/gov/hmcts/reform/sscs/controllers/ServiceHearingsController.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/AuthorisationService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/exceptions/FeignClientErrorDecoder.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/service/AuthorisationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/exceptions/FeignClientErrorDecoderTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-132

#130 SSCS-10076 Add get mapping for party notifications
  src/main/java/uk/gov/hmcts/reform/sscs/model/single/hearing/PartiesNotified.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/single/hearing/PartiesNotifiedResponse.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/HmcHearingPartiesNotifiedApi.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-130

#131 SSCS-10262 Fix ServiceLinkedCases request
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/controllers/ServiceHearingsControllerTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/controllers/ServiceHearingsController.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/service/ServiceHearingRequest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-131

#142 Update suppressions.xml
  config/owasp/suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-142

#116 Sscs 10245 send epimms id to hmc new
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/service/hearingvalues/HearingLocation.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/single/hearing/HearingLocations.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/validator/EnumPatternValidatorTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-116

#144 Update values.yaml
  charts/sscs-hearings-api/Chart.yaml
  charts/sscs-hearings-api/values.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-144

#139 SSCS-10490 bump common version
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/controllers/ServiceHearingsControllerTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/controllers/ServiceHearingsController.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsCaseMapping.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsCaseMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsMappingTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-139

#126 SSCS-10273 Setup Lov Data Methods
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsPartiesMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/EntityRoleCode.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsPartiesMappingTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-126

#149 Suppress spring issue
  config/owasp/suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-149

#152 SSCS-10552-Upgrade-Tomcat: upgrade tomcat
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-152

#118 SSCS-10116 Default Business Rules
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsCaseMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsPartiesMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/service/HearingsServiceHelper.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/SessionCaseCodeMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/HearingsService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/ReferenceData.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsCaseMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsMappingBase.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsPartiesMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/service/HearingsServiceHelperTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/HearingsServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-118

#151 SSCS-10281 Linked Cases Logic
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMapping.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMappingTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-151

#157 SSCS-10547 Update reference data.
  build.gradle
  charts/sscs-hearings-api/Chart.yaml
  charts/sscs-hearings-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsPartiesMapping.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsPartiesMappingTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-157

#159 SSCS-10430 Update CaseCategory object.
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsCaseMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/single/hearing/CaseCategory.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsCaseMappingTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-159

#161 Update common
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-161

#90 SSCS-10260 Mappings for Service Hearing Values
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/controllers/ServiceHearingsControllerTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/controllers/ServiceHearingsController.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsCaseMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsPartiesMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/PartyFlagsMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingPartiesMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingValuesMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/HearingWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/service/hearingvalues/CaseFlags.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/service/hearingvalues/HearingWindow.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/service/hearingvalues/Judiciary.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/service/hearingvalues/ServiceHearingValues.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/service/hearingvalues/UnavailabilityRange.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/HearingsService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/ReferenceData.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/ServiceHearingsService.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsCaseMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/PartyFlagsMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingValuesMappingTest.java
  src/test/resources/serviceHearingValues.json
  src/test/resources/serviceHearingValuesInvalid.json
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-90

#174 Sscs 10138 capturing hearing channel preferences in the auto journey
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/controllers/ServiceHearingsControllerTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsPartiesMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingPartiesMapping.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsPartiesMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingValuesMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/HearingsServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-174
