Repository hmcts/sscs-hearings-api, pull requests merged in 2022-08, with the labels that each got.

#298 extend suppression dates
  config/owasp/suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-298

#299 SSCS-10773: add param to .appellantHearingChannel mapping in HearingC…
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/OverridesMapping.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/OverridesMappingTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-299

#304 SSCS-10776 Fix logging.
  src/main/java/uk/gov/hmcts/reform/sscs/service/ServiceHearingsService.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-304

#305 Sscs 10773 fix hearing channel fields
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/OverridesMapping.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/OverridesMappingTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-305

#303 SSCS-10805-update-jar-version
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-303

#306 SSCC-10773: adding logs for override fields for testing
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/OverridesMapping.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-306

#308 SSCS-10773 Revert initial changes.
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/OverridesMapping.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/OverridesMappingTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-308

#310 SSCS-10773: Update HearingsChannelMapping getHearingChannel condition…
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsChannelMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingPartiesMapping.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingValuesMappingTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-310

#320 chore: increment sscs-common version
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-320

#321 Add backstage configuration file
  catalog-info.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-321

#311 sscs-9874-common-version-update
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-311

#323 SSCS-rollback_logs: reverted logs in OverrideMapping.class
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/OverridesMapping.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-323

#317 SSCS-10841 Common bump
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMapping.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/OverridesMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/HearingsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/ServiceHearingsServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-317

#316 SSCS-10810 - Don't send relatedParties payload for Appointees, Jp's & Other parties
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsPartiesMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingPartiesMapping.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsPartiesMappingTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-316
