Repository hmcts/sscs-hearings-api, pull requests merged in 2023-01, with the labels that each got.

#433 SSCS-11325 listing error
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsAutoListMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsCaseMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsPanelMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingValuesMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/service/HearingsServiceHelper.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/hmc/reference/HmcStatus.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-433

#434 change duration to integer from number
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDurationMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/single/hearing/HearingDetails.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-434

#427 SSCS-10292-Updated to set the hearing channel type.
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsChannelMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsNumberAttendeesMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/jms/listener/TribunalsHearingsEventQueueListener.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsChannelMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsNumberAttendeesMappingTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-427
