Repository hmcts/sscs-hearings-api, pull requests merged in 2023-02, with the labels that each got.

#456 upgrade dependencycheck to v8
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-456

#423 SSCS-10295 use interpreter language if provided
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsPartiesMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/PartyFlagsMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingPartiesMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/service/hearingvalues/PartyFlagsMap.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDurationMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsPartiesMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/PartyFlagsMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingValuesMappingTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-423

#459 SSCS-11420 : Removed LA to HMC status comparison
  src/main/java/uk/gov/hmcts/reform/sscs/service/hmc/topic/ProcessHmcMessageService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/hmc/topic/ProcessHmcMessageServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-459
