Repository hmcts/sscs-hearings-api, pull requests merged in 2023-09, with the labels that each got.

#536 SSCSCI-12
  config/owasp/suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-536

#460 Sscs 10291 update panel member
  build.gradle
  charts/sscs-hearings-api/Chart.yaml
  charts/sscs-hearings-api/values.preview.template.yaml
  charts/sscs-hearings-api/values.yaml
  config/owasp/suppressions.xml
  config/pmd/ruleset.xml
  lib/applicationinsights.json
  src/contractTest/java/uk/gov/hmcts/reform/sscs/ContractTestDataProvider.java
  src/main/java/uk/gov/hmcts/reform/sscs/controllers/ServiceHearingsController.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/adjournment/AdjournmentCalculateDateHelper.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsAutoListMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsCaseMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsChannelMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDurationMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsLocationMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsNumberAttendeesMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsPanelMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsPartiesMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsWindowMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/OverridesMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/PartyFlagsMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingPartiesMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingValuesMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/service/HearingsServiceHelper.java
  src/main/java/uk/gov/hmcts/reform/sscs/jms/listener/TribunalsHearingsEventQueueListener.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/HearingEvent.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/HearingWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/service/hearingvalues/ServiceHearingValues.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/single/hearing/MemberType.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/single/hearing/PanelPreference.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/CcdCaseService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/HearingsService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/ServiceHearingsService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsAutoListMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsCaseMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsChannelMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDurationMappingAdjournmentTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDurationMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsMappingBase.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsNumberAttendeesMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsPanelMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsPartiesMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsWindowMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/OverridesMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingValuesMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/HearingsServiceRetryTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/HearingsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/ServiceHearingsServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-460

#541 nremove flags
  src/main/resources/application.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-541

#545 renovate fix
  .github/renovate.json
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-545

#539 Sscs 11339 remit to first tier
  build.gradle
  src/contractTest/java/uk/gov/hmcts/reform/sscs/ContractTestDataProvider.java
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/exceptions/FeignClientErrorDecoderIntegrationTest.java
  src/integrationTest/resources/application-integration.yaml
  src/integrationTest/resources/config/application_it.properties
  src/main/java/uk/gov/hmcts/reform/sscs/model/single/hearing/HearingDaySchedule.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/hmc/topic/HearingUpdateService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/holder/ReferenceDataServiceHolder.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsWindowMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/hmc/topic/HearingUpdateServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-539

#540 SSCS-12005 - Hearings changes to sort duration when standard timeslot adjournment
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDurationMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/OverridesMapping.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDurationMappingAdjournmentTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-540
