Repository hmcts/sscs-hearings-api, pull requests merged in 2023-03, with the labels that each got.

#473 fix suppressions
  config/owasp/suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-473

#474 Upgrade renovate
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-474

#479 Revert "Update dependency org.slf4j:slf4j-api to v2"
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-479

#457 updated to use correct judicial ref data api SSCS-10290
  build.gradle
  charts/sscs-hearings-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/sscs/HearingsApiApplication.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-457

#478 SSCS-11511 SSCS-11512 SSCS-11513
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsChannelMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsPartiesMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/HearingWrapper.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/HearingsService.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsChannelMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsPartiesMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/HearingsServiceRetryTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/HearingsServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-478

#354 SSCS-10296 requested date from adjournment notice is used in the new hearing request
  src/main/java/uk/gov/hmcts/reform/sscs/helper/adjournment/AdjournmentCalculateDateHelper.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDurationMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsWindowMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingValuesMapping.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/AdjournmentCalculateDateHelperTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsWindowMappingTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-354

#483 renovate v1
  .github/workflows/ci.yml
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-483

#482 SSCS-11537 : Remove sleep statement from hearings event queue
  src/main/java/uk/gov/hmcts/reform/sscs/jms/listener/TribunalsHearingsEventQueueListener.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-482

#487 SSCS-11516 : Remove invalid case states
  src/main/java/uk/gov/hmcts/reform/sscs/service/HearingsService.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-487
