Repository hmcts/sscs-hearings-api, pull requests merged in 2023-10, with the labels that each got.

#543 SSCS-12009: Made versionNumber mandatory for json
  src/main/java/uk/gov/hmcts/reform/sscs/model/single/hearing/RequestDetails.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/HearingsService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/HearingsServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-543

#547 SSCS-12039 - SSCS-12040 - Update Listing Requirement Fixes for Interpreter Duration and Override Values
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDurationMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/OverridesMapping.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingValuesMappingTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-547

#548 Jsr310 fix
  src/main/java/uk/gov/hmcts/reform/sscs/service/ServiceHearingsService.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-548

#551 SSCSCI-12: update suppressions
  config/owasp/suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-551

#542 Sscs 11998 demo testing
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsAdjustmentMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsLocationMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/HearingsService.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMappingTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-542
