Repository hmcts/sscs-hearings-api, pull requests merged in 2024-10, with the labels that each got.

#649 Revert "SSCSCI-1028: use lang ref lookup logic from common"
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsPartiesMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/OverridesMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/ServiceHearingsService.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/OverridesMappingTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-649

#647 SSCSCI Suppression date update
  config/owasp/suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-647

#642 SSCSSI-322: merge sscs-hearings-api into sscs-tribunals-case-api
  charts/sscs-hearings-api/Chart.yaml
  charts/sscs-hearings-api/values.preview.template.yaml
  charts/sscs-hearings-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/sscs/config/jms/HearingsJmsConfig.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/jms/TribunalsHearingsJmsConfig.java
  src/main/java/uk/gov/hmcts/reform/sscs/jms/listener/HmcHearingsEventTopicListener.java
  src/main/java/uk/gov/hmcts/reform/sscs/jms/listener/TribunalsHearingsEventQueueListener.java
  src/main/resources/application.yaml
Labels: ns:sscs, prd:sscs, enable_keep_helm, rel:sscs-hearings-api-pr-642

#652 Delete infrastructure directory
  infrastructure/.terraform-version
  infrastructure/README.md
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/prod.tfvars
  infrastructure/service-bus.tf
  infrastructure/state.tf
  infrastructure/variables.tf
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-652
