Repository hmcts/sscs-hearings-api, pull requests merged in 2024-03, with the labels that each got.

#587 Updated suppressions
  config/owasp/suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-587

#588 SSCSCI-529: Update hearing filter
  src/main/java/uk/gov/hmcts/reform/sscs/jms/listener/HmcHearingsEventTopicListener.java
  src/test/java/uk/gov/hmcts/reform/sscs/jms/listener/HmcHearingsEventTopicListenerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-588

#590 SSCSSI-35 Use updateCaseV2 to update case with new hearing
  build.gradle
  charts/sscs-hearings-api/Chart.yaml
  charts/sscs-hearings-api/values.preview.template.yaml
  charts/sscs-hearings-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/sscs/service/HearingsService.java
  src/main/resources/config/application.properties
  src/test/java/uk/gov/hmcts/reform/sscs/service/HearingsServiceRetryTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/HearingsServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-590

#589 Update sscs-common to 5.3.4
  config/owasp/suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-589

#562 SSCSCI-529
  infrastructure/service-bus.tf
  src/contractTest/java/uk/gov/hmcts/reform/sscs/consumer/HearingDeleteConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/sscs/consumer/HearingGetConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/sscs/consumer/HearingPostConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/sscs/consumer/HearingPutConsumerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/exceptions/FeignClientErrorDecoderIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/jms/listener/HmcHearingsEventTopicListener.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/CcdCaseService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/HmcHearingApi.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/HmcHearingApiService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/HmcHearingsApi.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/HmcHearingsApiService.java
  src/test/java/uk/gov/hmcts/reform/sscs/jms/listener/HmcHearingsEventTopicListenerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/HmcHearingApiServiceTest.java
Labels: ns:sscs, prd:sscs, no-changes, rel:sscs-hearings-api-pr-562

#550 Hearings: refactor code
  build.gradle
  config/checkstyle/checkstyle.xml
  src/main/java/uk/gov/hmcts/reform/sscs/controllers/ServiceHearingsController.java
  src/main/java/uk/gov/hmcts/reform/sscs/exception/CaseException.java
  src/main/java/uk/gov/hmcts/reform/sscs/exception/ListingException.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDurationMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsPartiesMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingPartiesMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/model/hmc/reference/HmcStatus.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/HearingsService.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDurationMappingAdjournmentTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsPartiesMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/HearingsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/ServiceHearingsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/hmc/topic/HearingUpdateServiceTest.java
Labels: ns:sscs, prd:sscs, no-changes, rel:sscs-hearings-api-pr-550

#578 Paper cases shouldn't be autolisted
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsAutoListMapping.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsAutoListMappingTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-578

#592 SSCS-12059 - Revert code to use org name if present, missing first na…
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsPartiesMapping.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-592

#593 SSCS-12063 - Revert video email changes
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsPartiesMapping.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsPartiesMappingTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-593
