Repository hmcts/sscs-hearings-api, pull requests merged in 2024-04, with the labels that each got.

#594 Update suppression date
  config/owasp/suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-594

#601 Fix common bump
  build.gradle
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsPartiesMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/OverridesMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingValuesMappingTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-601

#597 SSCSSI-156 Remove references for unused orchestrator
  build.gradle
  charts/sscs-hearings-api/Chart.yaml
  charts/sscs-hearings-api/values.preview.template.yaml
  charts/sscs-hearings-api/values.yaml
  src/main/resources/application.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-597
