Repository hmcts/sscs-hearings-api, pull requests merged in 2024-06, with the labels that each got.

#599 SSCSCI-499: upgrade java chart
  charts/sscs-hearings-api/Chart.yaml
  charts/sscs-hearings-api/values.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-599, enable_keep_helm

#609 SSCSCI-831: delay hearing window start date from 28 to 31 days
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsWindowMapping.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsWindowMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/OverridesMappingTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-609

#615 SSCSCI-759: Handle other party hearingOptions NPE
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsNumberAttendeesMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingPartiesMapping.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsNumberAttendeesMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingValuesMappingTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-615
