Repository hmcts/sscs-hearings-api, pull requests merged in 2024-02, with the labels that each got.

#579 SSCSCI-529 : Rename deployment id
  src/main/java/uk/gov/hmcts/reform/sscs/jms/listener/HmcHearingsEventTopicListener.java
  src/test/java/uk/gov/hmcts/reform/sscs/jms/listener/HmcHearingsEventTopicListenerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-579

#582 SSCSCI-694: bump up sscs-common version to include airLookup 18.1
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-582

#583 Updated suppressions
  config/owasp/suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-583

#585 Updated suppressions
  config/owasp/suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-585

#526 SSCS-11651 - Send case to Listing Error when RPC is not in the approved list
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/exception/ListingException.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDurationMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsLocationMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/jms/listener/TribunalsHearingsEventQueueListener.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/HearingsService.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsDetailsMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/jms/listener/TribunalsHearingsEventTopicListenerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/HearingsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/hmc/topic/ProcessHmcMessageServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-526

#572 Hearings: add dwp org details
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsPartiesMapping.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingPartiesMapping.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/HearingsPartiesMappingTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/mapping/ServiceHearingValuesMappingTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-hearings-api-pr-572
